.cartitems{
    margin: 10rem 17rem;
}

.cartirems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartItems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 7.5rem;
    padding: 2rem 0px;
    color: #454545;
    font-size: 1.8rem;
    font-weight: 600;

}

.cartitems-format{
    font-size: 1.7rem;
    font-weight: 300;
}

.carticon-product-icon{
    height: 7rem;

}

.cartitem-remove-icon{
    width: 1.5rem;
    margin: 0px 4rem;
    cursor: pointer;
}

.cartitems-quantity{
    width: 5rem;
    height: 4rem;
    border: 2px solid #ebebeb;
    background-color: #ffff;
}

.cartitems-down{
    display: flex;
    margin: 10rem 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20rem;
    gap: 4rem;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0px;
}

.cartitems-total button{
    width: 26rem;
    height: 5.8rem;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 1.6rem;
    font-weight: 400;
}

.cartitems-promocode p{
    color: #454545;

}

.cartitems-promobox{
    width: 50rem;
    margin-top: 1.5rem;
    padding-left: 2rem;
    height: 5rem;
    background-color: #eaeaea;
}

.cartitems-promobox input{
    background-color: transparent;
    font-size: 1.6rem;
    width: 33rem;
    height: 5rem;
    &:focus{
        outline: none;
    }
}

.cartitems-promobox button{
    width: 15rem;
    height: 5rem;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    cursor: pointer;
}