
.flash--container{
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
   margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 0 4rem;
    align-items: center;
}

.flash--subtitle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flash--container hr{
    height: 5px;
    width: 200px;
    background-color: black;
    border-radius: 10px;

}


.flash--subtitle{
    
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
    
    
}

.singleItem--carousel{
    width: 100%;
    padding-bottom: 1.5rem;
}

