.cards--container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    width: 100%;
    margin-bottom: 10rem;
}


.card img{
    max-width: 100%;
    
}

.card{
    max-width: 100%;
    background-color: rgb(225, 225, 225);
}

.card--infos{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    font-size: 1.8rem;
    padding: 3rem;
   
}



.card--infos-buy{
    font-size: 1.4rem;
    color: black;
    text-decoration: underline;
}