.footer-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer-logo p{
    color: #383838;
    font-size: 4.6rem;
    font-weight: 300;
    
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 5rem;
    color: #252525;
    font-size: 1.5rem;
}

.footer-links li{
    cursor: pointer;
    
}

.footer-social-icon{
    display: flex;
    gap: 2rem;
}

.footer-icons-container{
    padding: 1rem;
    padding-bottom: .6rem;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 1.5rem;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 1rem;
    height: .3rem;
    background-color: #c7c7c7;
}